<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../..//resources/css/tailwind.css" rel="stylesheet">
    <link href="../../resources/css/styles.css" rel="stylesheet">
    <link rel="icon" href="https://img.icons8.com/ios-filled/50/EDEDED/pet-commands-train.png">
    <!-- Título de la página -->
    <title>Razas</title>
</head>
<body>
    <header></header>
    <main>
        <div class="flex items-center max-w-md mx-auto">
            <!-- buscador -->
            <form class="relative w-full" method="post" id="fbuscador">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <img src="https://img.icons8.com/ios-filled/20/EDEDED/cat-footprint.png" alt="cat-footprint"/>
                </div>
                <input type="text" name="buscador" id="buscador" class="w-full bg-[#1E1E1E] border border-[#EDEDED] text-[#EDEDED] focus:border-[#171717] block w-full p-4 ps-10 text-sm rounded-lg focus:ring-[#333399] focus:border-[#333399]" placeholder="Buscar razas">    
            </form>
            <!-- boton para crear un registro -->
            <button onclick="crearRegistro()" class="text-[#333399] border border-[#333399] hover:text-[#EDEDED] hover:bg-[#333399] font-medium rounded-lg text-sm px-2.5 py-2.5 text-center m-2" type="button">
                <svg class="w-[20px] h-[20px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                </svg> 
            </button>
        </div>
        <!-- modal -->
        <div id="modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-4xl max-h-full">
                <!-- modal content -->
                <div class="relative bg-[#313131] text-[#EDEDED] rounded-lg shadow">
                    <!-- modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                        <h3 class="text-xl font-semibold" id="titulo"></h3>
                        <button onclick="MODAL.hide()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- modal body -->
                    <form method="post" id="formulario" enctype="multipart/form-data">
                        <div class="text-[#EDEDED] grid gap-4 m-4 grid-cols-1 md:grid-cols-2">
                            <!-- id -->
                            <input type="number" id="id" name="id" hidden>
                            <!-- nombre de la raza -->
                            <div>
                                <label for="raza" class="block mb-2 text-lg font-semibold">Nombre</label>
                                <input type="text" id="raza" name="raza"
                                    class="bg-[#313131] border border-[#EDEDED] text-sm rounded-lg focus:ring-[#333399] focus:border-[#333399] block w-full p-2.5"
                                    placeholder="Ingrese el nombre de la raza" required>
                            </div>
                            <!-- descripcion de la raza -->
                            <div>
                                <label for="info" class="block mb-2 text-lg font-semibold">Descripción</label>
                                <textarea rows="4" type="text" id="info" name="info"
                                    class="bg-[#313131] border border-[#EDEDED] text-sm rounded-lg focus:ring-[#333399] focus:border-[#333399] block w-full p-2.5"
                                    placeholder="Ingrese una descripción sobre la raza" required></textarea>
                            </div>
                        </div>
                        <!-- modal footer -->
                        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b">
                            <button id="accion" type="submit" class="border border-[#333399] text-[#333399] hover:bg-[#333399] hover:text-[#EDEDED] font-medium rounded-lg text-sm px-5 py-2.5 text-center"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- tabla de registros -->
        <div class="relative overflow-x-auto sm:rounded-lg mt-4">
            <table class="w-full text-[#EDEDED] text-sm text-center">
                <thead class="bg-[#171717] border-b border-[#313131] text-xl">
                    <tr class="font-semibold">
                        <th scope="col" class="px-6 py-3">N°</th>
                        <th scope="col" class="px-6 py-3">Nombre</th>
                        <th scope="col" class="px-6 py-3">Información</th>
                        <th scope="col" class="px-6 py-3">Controles</th>
                    </tr>
                </thead>
                <tbody class="bg-[#171717]" id="registros"></tbody>
            </table>
        </div>
    </main>
    <footer></footer>

    <!-- Importación de archivos javascript -->
    <script type="text/javascript" src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/admin/template.js"></script>
    <script type="text/javascript" src="../../controllers/admin/breeds.js"></script>
</body>
</html>