<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../..//resources/css/tailwind.css" rel="stylesheet">
    <link href="../../resources/css/styles.css" rel="stylesheet">
    <link rel="icon" href="https://img.icons8.com/ios-filled/50/EDEDED/pet-commands-train.png">
    <!-- Título de la página -->
    <title>Solicitudes</title>
</head>
<body>
    <header></header>
    <main>

    </main>
    <footer></footer>

    <!-- Importación de archivos javascript -->
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script src="../../controllers/admin/template.js"></script>
</body>
</html>