<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../..//resources/css/tailwind.css" rel="stylesheet">
    <link href="../../resources/css/styles.css" rel="stylesheet">
    <link rel="icon" href="https://img.icons8.com/ios-filled/50/EDEDED/pet-commands-train.png">
    <!-- Título de la página -->
    <title>Solicitudes</title>
</head>
<body>
    <header></header>
    <main>
        <div class="flex items-center max-w-md mx-auto">
            <!-- buscador -->
            <form class="relative w-full" method="post" id="fbuscador">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <img src="https://img.icons8.com/ios-filled/20/EDEDED/cat-footprint.png" alt="cat-footprint"/>
                </div>
                <input type="text" name="buscador" id="buscador" class="w-full bg-[#1E1E1E] border border-[#EDEDED] text-[#EDEDED] focus:border-[#171717] block w-full p-4 ps-10 text-sm rounded-lg focus:ring-[#333399] focus:border-[#333399]" placeholder="Buscar razas">    
            </form>
            <!-- boton para crear un registro -->
            <button class="text-[#333399] border border-[#333399] hover:text-[#EDEDED] hover:bg-[#333399] font-medium rounded-lg text-sm px-2.5 py-2.5 text-center m-2" type="button">
                <svg class="w-[20px] h-[20px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                </svg> 
            </button>
        </div>
        <!-- tabla de registros -->
        <div class="relative overflow-x-auto sm:rounded-lg mt-4">
            <table class="w-full text-[#EDEDED] text-sm text-center">
                <thead class="bg-[#171717] border-b border-[#313131] text-xl">
                    <tr class="font-semibold">
                        <th scope="col" class="px-6 py-3">N° de raza</th>
                        <th scope="col" class="px-6 py-3">Nombre de la raza</th>
                        <th scope="col" class="px-6 py-3">Información sobre la raza</th>
                        <th scope="col" class="px-6 py-3">Controles</th>
                    </tr>
                </thead>
                <tbody class="bg-[#171717]" id="registros"></tbody>
            </table>
        </div>
    </main>
    <footer></footer>

    <!-- Importación de archivos javascript -->
    <script type="text/javascript" src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/admin/template.js"></script>
    <!-- <script type="text/javascript" src="../../controllers/admin/breeds.js"></script> -->
</body>
</html>