<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../resources/css/tailwind.css" rel="stylesheet">
    <link href="../../resources/css/styles.css" rel="stylesheet">
    <link rel="icon" href="https://img.icons8.com/ios-filled/50/EDEDED/pet-commands-train.png">
    <!-- Título de la página -->
    <title>Registrar un gatico</title>
</head>
<body>
    <header></header>
    <main>
        <div class="bg-[#171717] rounded-lg p-4 text-center">
            <div class="grid md:grid-cols-3 items-center">
                <p class="text-2xl text-[#EDEDED] bg-[#313131] rounded-lg p-1 md:col-start-2 md:col-end-3">Pasos para registrar a tu gato</p>
            </div>
            <ol class="flex items-center w-full text-sm font-medium text-center text-[#EDEDED] mt-4">
                <li class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10"><span class="bg-[#333399] px-2 rounded-xl me-2">1</span>Ingresar información</li>
                <li class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10"><span class="bg-[#333399] px-2 rounded-xl me-2">2</span>Enviar solicitud</li>
                <li class="flex items-center"><span class="bg-[#333399] px-2 rounded-xl me-2">3</span>Esperar respuesta</li>
            </ol>
        </div>
        <form class="bg-[#313131] rounded-lg p-4 mt-4" method="post" id="exeform">
            <div class="text-[#EDEDED] grid gap-4 mb-4 grid-cols-1 md:grid-cols-2">
                <!-- nombre del gato -->
                <div>
                    <label for="nombre" class="block mb-2 text-lg font-semibold text-[#171717]">Nombre de tu gato</label>
                    <input type="text" id="nombre" name="nombre"
                        class="bg-[#313131] border border-[#EDEDED] text-sm rounded-lg focus:ring-[#333399] focus:border-[#333399] block w-full p-2.5"
                        placeholder="Ingresa el nombre de tu gatico" required>
                </div>
                <!-- edad del gato -->
                <div>
                    <label for="edad" class="block mb-2 text-lg font-semibold text-[#171717]">Edad de tu gato</label>
                    <input type="number" id="edad" name="edad"
                        class="bg-[#313131] border border-[#EDEDED] text-sm rounded-lg focus:ring-[#333399] focus:border-[#333399] block w-full p-2.5"
                        placeholder="Ingresa la edad de tu gatico (puede ser aproximado)" required>
                </div>
                <!-- raza del gato -->
                <div>
                    <label for="raza" class="block mb-2 text-lg font-semibold text-[#171717]">Raza de tu gatico</label>
                    <select id="raza" name="raza"
                        class="bg-[#313131] border border-[#EDEDED] text-sm rounded-lg focus:ring-[#333399] focus:border-[#333399] block w-full p-2.5">
                    </select>
                </div>
                <!-- contacto responsable del gato -->
                <div>
                    <label for="correo" class="block mb-2 text-lg font-semibold text-[#171717]">Tu correo</label>
                    <input type="email" id="correo" name="correo"
                        class="bg-[#313131] border border-[#EDEDED] text-sm rounded-lg focus:ring-[#333399] focus:border-[#333399] block w-full p-2.5"
                        placeholder="Ingresa tu correo" required>
                </div>
                <!-- foto del gato -->
                <!-- <div>
                    <label for="archivo" class="block mb-2 text-lg font-semibold text-[#171717]">Sube una foto de tu gato</label>
                    <input class="block w-full text-sm text-[#EDEDED] border border-[#EDEDED] rounded-lg cursor-pointer bg-[#313131]" type="file" id="archivo" name="archivo">
                </div> -->
            </div>
            <button id="accion" type="submit" class="border border-[#333399] text-[#333399] hover:bg-[#333399] hover:text-[#EDEDED] font-medium rounded-lg text-sm px-5 py-2.5 text-center">Enviar solicitud</button>
        </form>
    </main>
    <footer></footer>

    <!-- Importación de archivos javascript -->
    <script type="text/javascript" src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/public/template.js"></script>
    <script type="text/javascript" src="../../controllers/public/requests.js"></script>
</body>
</html>